body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
/* -------------------------------header------------------------------------------ */
header{
    width: 100%;
    min-height: 80px;
}
header img{
    width: 15%;
    height: 60px;
    margin-left: 50px;
    padding: 20px;
}
/*---------------------------------nav----------------------------------------- */
nav{
    width: 100%;
    min-height: 50px;
    background-color: rgb(1, 98, 1);
}
nav .box-a{
    color: white;
    float: left;
    line-height: 50px;
    margin-left: 50px;
    padding: 0 80px 0 40px;
    background-color: rgb(50, 189, 22);
}
/* -----------------------------------menu ngang------------------------------------ */
/* chuyển li thành 1 hàng ngang */
.menu>ul>li{
    display: inline-block;
    position: relative;
}
/* định nghĩa cho liên kết */
.menu>ul>li a{
    display: block;
}
/* định nghĩa cho thanh menu ngang */
.menu>ul{
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    background-color: green;
    text-align: justify;
}
/* định nghĩa cho tag a */
.menu>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    line-height: 50px;
    color: white;
    font-size: 17px;
    padding: 0 8px;
}
/* hover */
.menu>ul>li>a:hover{
    color: black;
}
/* định nghĩa menu con (định vị tuyệt đối và ẩn)*/
.menu ul ul{
    position: absolute;
    display: none;
    z-index: 1;
}
/* định nghĩa liên kết của menu con */
.menu ul ul a{
    display: block;
}
/* định nghĩa css cho menu con khi đưa chuột 
lên li chứa nó (hiển thị menu con)
 */
.menu>ul>li:hover>ul{
    display: block;
}
/* Hoàn thiện menu con */
.menu ul ul{
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
    text-align: left;
}
/* Bổ sung CSS vào .menu ul ul a */
.menu ul ul a{
    line-height: 40px;
    color: green;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 15px;
    padding: 0 10px;
}
/* định nghĩa liên kết menu con khi có chuột */
.menu ul ul a:hover{
    background-color: green;
    color: black;
}
.menu span{
    margin-right: 55px;
    line-height:50px;
    color: white;
    float: right;
}
main{
    width: 100%;
    min-height: 800px;
    position: relative;
}
/* ------------------maps------- */
.bando>iframe{
    width: 93%;
    height: 350px;
    margin: 40px;
}
/* ------------box liên hệ ---------*/
.lien-he{
    width: 550px;
    min-height: auto;
    position: absolute;
    right: 50px;
}
.lien-he-controls{
    width: 100%;
    border: 1px solid gray;
    line-height: 30px;
    outline: none;
    box-shadow: inset 0 0 3px gray;
}
/* định dạng cho điều khiển đang nhận trỏ chuột */
.lien-he-controls:focus{
    background-color: white;
    box-shadow: 0 0 3px blue;
    border: 1px solid blue;
}
.lien-he-button{
    padding: 10px 20px;
    font-variant: small-caps;
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(1, 94, 1);
}
.lien-he-button:hover{
    background-color: green;
}
#padding{
    padding-bottom: 20px;
}
.top-left{
    width: 500px;
    position: absolute;
    left: 40px;
}
.top-left p{
    margin-left: 50px;
}
/* ------------------------footer-------------------------- */
footer{
    width: 100%;
    min-height: 400px;
    background-color: white;
    clear: both;
}
.box-footer{
    width: calc(calc(90% - 60px)/3);
    min-height: 400px;
    float: left;
    margin-left: 35px;
}
.box-footer img{
    width: 40%;
    height: 60px;
    padding-top: 10px;
}
.box-footer h3{
    padding-top: 10px;
}
.box-footer span{
    font-weight: bold;
}
.bando img{
    width: 100%;
    height: 250px;
}
.end{
    width: 100%;
    height: 60px;
    background-color: rgb(32, 32, 32);
    clear: both;
}
.box-chu p{
    float: left;
    color: gray;
    margin-left: 40px;
    line-height: 40px;
    font-size: 12px;
}
.box-chu span{
    color: gray;
    float: right;
    line-height: 60px;
    font-size: 12px;
    margin-right: 40px;
}